{
  "comments": false,
  "presets": [
    "@babel/preset-typescript",
    "jest",
    "vca-jsx"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."]
    }],
    "transform-vue-jsx",
    "babel-plugin-add-import-extension",
    [
      "snowpack/assets/babel-plugin.js", 
      {
        "optionalExtensions": true 
      }
    ],
    "@babel/plugin-proposal-nullish-coalescing-operator",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "minify",
          {
            "mangle": {
              "topLevel": true,
              "keepFnName": false,
              "keepClassName": false
            },
            "keepFnName": false,
            "keepClassName": false,
            "removeConsole": true
          }
        ]
      ]
    }
  }
}
